#cartblock
    background-color: #F6F6F6
    margin-left: 100px
    margin-bottom: 80px
    margin-top: 50px
    padding-bottom: 50px
    padding-top: 50px
    padding-left: 60px
    width: 82%
    display: grid
    grid-template-columns: 33% 33% 33%
    grid-gap: 0%
    row-gap: 40px
    border-radius: 1%
#cartContener
    width: 340px
    height: 340px
    background-color: #FF6060
    border-radius: 4%

.cardImages
    width: 100%
    height: 75%
    border-top-left-radius: 4%
    border-top-right-radius: 4%
.cardTitle
    color: white
    font-size: 26px
    margin-top: 0
    margin-left: 10px
    font-family: 'Raleway', sans-serif

@media screen and (max-width: 375px)
    #cartblock
        display: flex
        flex-direction: column
        margin-left: 0
        background-color: white
        padding-left: 20px
    #cartContener
        width: 335px
        height: 255px
